@{
    ViewData["Title"] = "Lista de Empleados";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de Empleados</h2>
        </div>
        <div class="col-4 text-end">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i> Crear nuevo Empleado
            </a>
        </div>
    </div>

    <br />
    <table id="tblEmpleados" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/empleado.js"></script>
}
