@model SistemaTienda.Models.Categoria

@{
    ViewData["Title"] = "crear nueva categoria";
}



<br />
<br />
<h3 class="text-center">Crear Nueva Categoria</h3>
<form method="post" asp-action="Create">

    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <di class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="Nombre"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Nombre categoria"/>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

            </div>
            <br />

            <div class="form-group row">
                <div class="col-4">
                    <label class="col-4">
                        <label asp-for="Orden"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Orden" class="form-control" placeholder="Orden de visualizacion" />
                    <span asp-validation-for="Orden" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group-row">
                <div class="col-6">
                    <partial name="_VistaCrearVolver" />
                </div>
            </div>
            
        </di>

    </div>


</form>